.product-content {
  scroll-content {
    background-color: $ovh-background;
    color: $primary-font-color;
  }

  ion-item {
    ion-label {
      color: $manatee;
    }
  }

  // Outer container
  .progress {
    overflow: hidden;
    height: 25px;
    background-image: linear-gradient(90deg, rgb(99, 173, 60) 0%, rgb(99, 173, 75) 50%, rgb(201, 160, 48) 75%, rgb(206, 66, 66) 100%);
    border-radius: 15px;
    border: 1px solid $primary-font-color;
  }

  // Bar of progress
  .progress-bar {
    float: right;
    width: 0%;
    height: 100%;
    color: black;
    text-align: center;
    background-color: $ovh-widget-background;
  }
}

.product-header {
  ion-title {
    .toolbar-title {
      font-size: 1.2em;
    }
  }
}
