<ion-header class="network-state-modal">
  <ion-navbar>
    <ion-title>
      Travaux (<span [innerText]="categoryName"></span>)
    </ion-title>
    <ion-buttons end>
      <button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="network-state-modal">
  <ion-list *ngIf="!loading">
    <div *ngIf="!loading && networkTasks && !error">
      <ion-card *ngFor="let networkTask of networkTasks.items" class="widget-content">
        <ion-card-header class="widget-header">
          <b [innerText]="networkTask.title"></b>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col width-33>
              <b>Date :</b>
            </ion-col>
            <ion-col width-67 [innerText]="networkTask.pubDateText">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col width-33>
              <b>Description :</b>
            </ion-col>
            <ion-col width-67 [innerHTML]="networkTask.content">
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-list>
  <ion-row center *ngIf="loading">
    <ion-col center class="center center-flex" width-100>
      <ion-spinner name="bubbles" center></ion-spinner>
    </ion-col>
  </ion-row>
</ion-content>

