<ion-item class="widget-header">
  <ion-avatar item-left (click)="updateCollapse.emit()">
    <i [class]="category.icon + ' fa-2x'"></i>
  </ion-avatar>
  <div (click)="updateCollapse.emit()">
    <p [innerText]="category.text"></p>
    <h2 [innerText]="serviceName"></h2>
  </div>
  <ion-avatar class="center-flex" item-right *ngIf="state != null">
    <i class="fa fa-circle" [ngClass]="getStatusClass()" aria-hidden="true"></i>
  </ion-avatar>
  <button outline item-right class="button-white outline-white" (click)="openNetworkStateModal()" *ngIf="showWorks">
    <i class="fa fa-heartbeat fa-1x"></i>
  </button>
</ion-item>