<ion-navbar *navbar (click)="closeKeyboard()">
  <ion-title>
    Compte
  </ion-title>
  <ion-buttons start>
    <button royal (click)="about()">
      <ion-icon name="information-circle"></ion-icon>
    </button>
  </ion-buttons>
  <ion-buttons end>
    <button danger royal (click)="logout()">
      <ion-icon name="log-out"></ion-icon>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content class="account">

  <ion-refresher (refresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="refresh"
      pullingText="Tirer pour rafraichir"
      refreshingSpinner="bubbles"
      refreshingText="Chargement...">
    </ion-refresher-content>
  </ion-refresher>
  <async-box [loading]="loading">
        <form #accountForm="ngForm" *ngIf="!loading && accountInfos && !error">
        <ion-list>
          <ion-item>
            <ion-label>
              Prénom
            </ion-label>
            <ion-input [(ngModel)]="accountInfos.firstname" ngControl="firstname">
            </ion-input>
          </ion-item>

          <ion-item>
            <ion-label>
              Nom
            </ion-label>
            <ion-input [(ngModel)]="accountInfos.name" ngControl="name">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              Sexe
            </ion-label>
            <ion-select [(ngModel)]="accountInfos.sex" ngControl="sex">
              <ion-option *ngFor="#gender of newAccountModel.models['nichandle.GenderEnum'].enum" [value]="gender" [textContent]="gender"></ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>
              Lieu de naissance
            </ion-label>
            <ion-input [(ngModel)]="accountInfos.birthCity" ngControl="birthCity">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              Forme juridique
            </ion-label>
            <ion-select [(ngModel)]="accountInfos.legalform" ngControl="legalform">
              <ion-option *ngFor="#legalForm of accountInfos.legalformEnum" [value]="legalForm" [textContent]="legalForm"></ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>
              Adresse
            </ion-label>
            <ion-input [(ngModel)]="accountInfos.address" ngControl="address">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              Code postal
            </ion-label>
            <ion-input [(ngModel)]="accountInfos.zip" ngControl="zip">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              Ville
            </ion-label>
            <ion-input [(ngModel)]="accountInfos.city" ngControl="city">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              Pays
            </ion-label>
            <ion-select [(ngModel)]="accountInfos.country" ngControl="country">
              <ion-option *ngFor="#country of meModel.models['nichandle.CountryEnum'].enum" [value]="country" [textContent]="country">
              </ion-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-label>
              Téléphone
            </ion-label>
            <ion-input [(ngModel)]="accountInfos.phone" ngControl="phone">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              Fax
            </ion-label>
            <ion-input [(ngModel)]="accountInfos.fax" ngControl="fax">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              Email
            </ion-label>
            <ion-input [(ngModel)]="accountInfos.email" ngControl="email">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-label>
              Email de secours
            </ion-label>
            <ion-input [(ngModel)]="accountInfos.spareEmail" ngControl="spareEmail">
            </ion-input>
          </ion-item>
        </ion-list>
        </form>

    <div padding>
      <button block secondary (click)="save()">Valider</button>
      <button danger block class="tspace15" (click)="cancel()">Annuler</button>
    </div>
  </async-box>
</ion-content>
