<widget-header
  [serviceName]="loading ? serviceName : server.reverse || server.name || server.serviceName"
  [category]="constants"
  [state]="server.state === 'ok' ? 'enabled' : 'disabled'"
  [loading]="loading || error"
  [showWorks]="showWorks"
  (updateCollapse)="updateCollapse()">
</widget-header>
<div padding *ngIf="collapsed" class="widget-content">
 <ion-segment [(ngModel)]="viewMode" class="animated fadeIn">
   <ion-segment-button value="general">
     Général
   </ion-segment-button>
   <ion-segment-button value="tasks" (click)="getTasks()">
     Tâches
   </ion-segment-button>
 </ion-segment>
</div>
 <ion-card-content *ngIf="!loading && !error" class="widget-content">
   <div *ngIf="viewMode === 'general' || !collapsed">
     <ion-row>
       <ion-col width-50 [ngClass]="{'danger-color animated pulse': server.warning}">
         <i class="fa fa-warning" *ngIf="server.warning"></i>
         Expiration
       </ion-col>
       <ion-col width-50 text-right
         [ngClass]="{'danger-color animated pulse': server.warning}"
         [innerText]="server.expirationText">
       </ion-col>
     </ion-row>
   </div>

  <div [ngSwitch]="viewMode" *ngIf="collapsed" class="animated fadeIn">
     <div *ngSwitchCase="'general'">
       <ion-row>
         <ion-col width-40>
           IPv4
         </ion-col>
         <ion-col width-60 [innerText]="server.ip">
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col width-40>
           Système (OS)
         </ion-col>
         <ion-col width-60 [innerText]="server.os">
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col width-40>
           Monitoring
         </ion-col>
         <ion-col width-60>
           <i [hidden]="!server.monitoring" class="fa fa-check fa-1x" secondary></i>
           <i [hidden]="server.monitoring" class="fa fa-times fa-1x" danger></i>
         </ion-col>
       </ion-row>
       <ion-row>
         <ion-col width-40>
           Datacentre
         </ion-col>
         <ion-col width-60 [innerText]="server.datacenter">
         </ion-col>
       </ion-row>
     </div>

     <div *ngSwitchCase="'tasks'">
       <ion-list>
         <task-details-dedicated *ngFor="let task of tasks" [id]="task" [serviceName]="serviceName">
         </task-details-dedicated>
         <ion-item *ngIf="emptyTasks && !loading" text-center>
           <em>Vous n’avez pas de tâches</em>
         </ion-item>
       </ion-list>
     </div>
   </div>
</ion-card-content>
<ion-card-content *ngIf="loading" class="widget-content" text-center>
  <ion-spinner name="bubbles"></ion-spinner>
</ion-card-content>
