$steel-blue: #5b8fbc;
$bright-gray: #3f455a;
$tuna: #373b45;
$manatee: #949496;
$charade: #2e3037;
$shark: #26272b;
$oslo-gray: #878991;
$mercury: #e8e8e8;
$shark2: #303037;
$shark3: #24252a;
$apple-blossom: #ad3d3e;
$danger-color: #ad3d3e;
$apple: #63ad3c;
$silver: #bfbfbf;
$bastille: #25252C;
$tuna2: #393941;
$gray: #878787;
