// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import '../modals/widget-add/widget-add';
@import '../modals/ticket-create/ticket-create';
@import '../modals/network-state/network-state';
@import '../modals/about/about';
@import '../pages/login/login';
@import '../pages/account/account';
@import '../pages/messages/messages';
@import '../pages/support/support';
@import '../pages/dashboard/dashboard';
@import '../pages/products/products';
@import '../pages/products/product-list/product-list';
@import '../components/loader/loader';
@import '../components/ticket/ticket';
@import '../components/widgets/web-widget/web-widget';
@import '../components/widgets/vps-widget/vps-widget';
@import '../components/widgets/cloud-widget/cloud-widget';
@import '../components/widget-header/widget-header';
@import '../components/widget-footer/widget-footer';
@import '../components/title-separation/title-separation';
@import '../components/ovh-alert/ovh-alert';

.tspace5 {
  margin-top: 5px;
}

.tspace15 {
  margin-top: 15px;
}

.tspace20 {
  margin-top: 20px;
}

.fs16 {
  font-size: 1.6rem;
}

.danger-color {
  color: $danger-color !important;
}

.green-color {
  color: map-get($colors, favorite) !important;
}

.warning-color {
  color: map-get($colors, warning) !important;
}

.secondary-color {
  color: map-get($colors, secondary) !important;
}

.has-refresher > scroll-content {
  border-top: 0;
}

.toast-alert {
  .toast-wrapper {
    opacity: .9;
    background-color: map-get($colors, danger);
    border-radius: 10;
  }
}

.toast-success {
  .toast-wrapper {
    opacity: .9;
    background-color: map-get($colors, secondary);
    border-radius: 10;
  }
}

// .title-icon {
//   margin-left: 7%;
// }

// .title-back {
//   margin-left: 33%;
// }

.refresher-pulling-icon {
  color: $primary-font-color;
}

.refresher-pulling-text {
  color: $primary-font-color;
}

.refresher-refreshing-icon {
  color: $primary-font-color;
}

.refresher-refreshing-text {
  color: $primary-font-color;
}

ion-card p {
  color: $primary-font-color;
}

ion-searchbar {
  background-color: transparent;
  .searchbar-input {
    background-color: $silver;
  }
}


.center-flex {
  display: flex;
  justify-content: center; // align horizontal
  align-items: center; // align vertical
}

.toast-wrapper {
  background-color: red;
}

.expiration {
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-iteration-count: 3;
  animation-iteration-count: 3;
}

.nostyle-item-list {
  ion-list {
    & > .item:first-child {
      border-top: 0;
      border-bottom: 0;
    }
  }
}

//------------------------------------------------------------------

body {
  background-image: url('../img/bg-texture.png');
  background-repeat: repeat;
}

.toolbar-background {
  background-color: transparent;
  border-color: transparent;
}

ion-tabbar {
  background-color: $bastille;
  border-top: 0;
}

ion-title {
  color: $ovh-font;

  .toolbar-title {
    color: $mercury;
    font-weight: 300;
    font-size: 1.4em;
  }
}

// .back-button-text {
//   color: $ovh-fontd;
// }

ion-navbar {
  .button-inner {
    color: $ovh-font;
  }
}

ion-content {
  background-image: url('../img/bg-texture.png');
  background-repeat: repeat;
}

ion-card {
  box-shadow: 0 0 0 transparent;
  border-radius: 0;

  h2 {
    color: $primary-font-color;
  }

  &.transparent {
    background-color: transparent;
  }

  ion-card-content {
    background-color: transparent;
    color: $primary-font-color;
  }
}

ion-tabbar-section {
  tabbar {
    background-color: $ovh-toolbar;
    border-top: 1px solid $ovh-toolbar;
  }

  .tab-button {
    border-right: 2px black;

    &[aria-selected='true'] {
      color: $steel-blue;
    }
  }
}

ion-list {
  background-color: transparent;
  color: $primary-font-color;

  .item {
    color: $primary-font-color;
    background-color: transparent;

    .item-inner {
      border-bottom: 0;
    }
  }

  .item-inner {
    border-bottom: 0;
  }
}

.center {
  margin: auto;
}

.capitalize {
  text-transform: capitalize;
}

.widget-content {
  background-color: $ovh-widget-background;
  color: $primary-font-color;

  .button-white {
    color: $primary-font-color;
  }

  .outline-white {
    border-color: $primary-font-color;
  }

  // Outer container
  .progress {
    overflow: hidden;
    height: 25px;
    background-image: linear-gradient(90deg, rgb(99, 173, 60) 0%, rgb(99, 173, 75) 50%, rgb(201, 160, 48) 75%, rgb(206, 66, 66) 100%);
    border-radius: 15px;
    border: 1px solid $primary-font-color;
  }

  // Bar of progress
  .progress-bar {
    float: right;
    width: 0%;
    height: 100%;
    color: black;
    text-align: center;
    background-color: $ovh-widget-background;
  }
}

button {
  &.button-ovh {
    background-color: $ovh-button;
    color: $primary-font-color;
    height: 35px;

    &.activated {
      background-color: $ovh-button-active;
    }
  }
}

.segment-button {
  color: $primary-font-color;
  border-color: $segment-active-background;

  &.segment-activated {
    color: black;
    background-color: $segment-active-background;
  }
}

ion-spinner svg {
  fill: $primary-font-color;
  stroke: $primary-font-color;
}

.spinner-circles {
  fill: $primary-font-color;
  stroke: $primary-font-color;
}

.spinner-bubbles circle {
  fill: $primary-font-color;
}

ion-col {
  color: $primary-font-color;
}

ion-input {
  color: $primary-font-color;
}

.item {
  border-bottom: 1px solid #636673;
}

.select-icon {
  width: 25px;

  .select-icon-inner {
    border-top: 8px solid;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
  }
}
