<ion-item class="widget-header">
  <ion-avatar item-left (click)="updateCollapse()">
    <i class="fa fa-database fa-2x"></i>
  </ion-avatar>
  <div (click)="updateCollapse()">
    <h2 [textContent]="serviceName" *ngIf="loading">
    </h2>
    <h2 [textContent]="bdd.displayName || bdd.serviceName" *ngIf="!loading && !error">
    </h2>
  </div>
  <button outline item-right class="button-white outline-white" (click)="openNetworkStateModal()" *ngIf="showWorks">
    <i class="fa fa-heartbeat fa-1x"></i>
  </button>
</ion-item>
<div padding *ngIf="collapsed" class="widget-content">
  <ion-segment [(ngModel)]="viewMode">
    <ion-segment-button value="general" class="animated fadeIn">
      Général
    </ion-segment-button>
    <ion-segment-button value="tasks" (click)="getTasks()">
      Tâches
    </ion-segment-button>
  </ion-segment>
</div>
<ion-card-content class="widget-content" *ngIf="!loading && bdd && !error">
  <div *ngIf="viewMode === 'general' || !collapsed">
    <ion-row>
      <ion-col width-50 [ngClass]="{'danger-color animated pulse': bdd.warning}">
        <i class="fa fa-warning" *ngIf="bdd.warning"></i>
        Expiration
      </ion-col>
      <ion-col width-50 text-right
        [ngClass]="{'danger-color animated pulse': bdd.warning}"
        [textContent]="bdd.expirationText">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-40>
        Etat du service
      </ion-col>
      <ion-col width-60 text-right>
        <div [ngSwitch]="bdd.state">
          <ion-badge *ngSwitchWhen="'started'"
            class="capitalize"
            [textContent]="bdd.state"
            secondary>
          </ion-badge>
          <ion-badge *ngSwitchWhen="'stopped'"
            class="capitalize"
            [textContent]="bdd.state"
            danger>
          </ion-badge>
          <ion-badge *ngSwitchDefault
            [textContent]="bdd.state">
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div [ngSwitch]="viewMode" *ngIf="collapsed" class="animated fadeIn">
    <div *ngSwitchWhen="'general'">
      <ion-row>
        <ion-col width-40>
          Version
        </ion-col>
        <ion-col width-60>
          <strong class="capitalize" [textContent]="bdd.version"></strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-40>
          RAM
        </ion-col>
        <ion-col width-60>
          <strong class="capitalize" [textContent]="bdd.ram.value + ' ' + bdd.ram.unit"></strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="center" width-40>
          Nom d'hôte SQL
        </ion-col>
        <ion-col width-60 [textContent]="bdd.hostname">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-40>
          Port SQL
        </ion-col>
        <ion-col width-60 [textContent]="bdd.port">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="center" width-40>
          Nom d'hôte SFTP
        </ion-col>
        <ion-col width-60 [textContent]="bdd.hostnameFtp">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-40>
          Port SFTP
        </ion-col>
        <ion-col width-60 [textContent]="bdd.portFtp">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-40>
          Interface utilisateur
        </ion-col>
        <ion-col class="center" width-60>
          <a [href]="bdd.guiURL"
            [textContent]="bdd.guiURL"
            target="_blank">
          </a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center width-100>
          Espace disque
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-100>
          <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width]="100 - bdd.quotaPercentage + '%'">
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>

        </ion-col>
      </ion-row>
    </div>

    <div *ngSwitchWhen="'tasks'">
      <ion-list>
        <task-details-private-database *ngFor="#task of tasks" [id]="task" [serviceName]="serviceName">
        </task-details-private-database>
        <ion-item *ngIf="emptyTasks && !loading" text-center>
          <em>Vous n'avez pas de tâches</em>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-card-content>
<ion-card-content class="widget-content" *ngIf="loading" text-center>
  <ion-spinner name="bubbles"></ion-spinner>
</ion-card-content>
