<ion-navbar *navbar class="dashboard-page">
  <ion-title>
    Dashboard
  </ion-title>
  <ion-buttons end>
    <button (click)="addWidgetModal()">
      <!-- <ion-icon name="add"></ion-icon> -->
      <i class="fa fa-plus-square icon-size" aria-hidden="true"></i>
    </button>
  </ion-buttons>
</ion-navbar>

<ion-content class="dashboard-page">
  <ion-refresher (refresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="refresh"
      pullingText="Tirer pour rafraichir"
      refreshingSpinner="bubbles"
      refreshingText="Chargement...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngIf="widgets && !widgets.length" class="transparent">
    <ion-card-content>
      Vous n'avez pas encore ajouté de widget. Veuillez cliquer sur le + ci-dessus pour en ajouter.
    </ion-card-content>
  </ion-card>
  <div *ngFor="#widget of widgets">
    <div [ngSwitch]="widget.category.url" class="animated bounceInUp">
      <domain-widget *ngSwitchWhen="CategoryEnum.DOMAIN.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </domain-widget>

      <web-widget *ngSwitchWhen="CategoryEnum.WEB.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </web-widget>

      <private-database-widget *ngSwitchWhen="CategoryEnum.PRIVATE_DATABASE.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </private-database-widget>

      <dedicated-widget *ngSwitchWhen="CategoryEnum.DEDICATED_SERVER.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </dedicated-widget>

      <vps-widget *ngSwitchWhen="CategoryEnum.VPS.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </vps-widget>

      <project-widget *ngSwitchWhen="CategoryEnum.PROJECT.url"
        [reload]="reload"
        [project]="widget"
        (remove)="removeWidget($event)">
      </project-widget>
    </div>
  </div>
</ion-content>
