<ion-header>
  <ion-navbar class="dashboard-page">
    <ion-title>
      Tableau de bord
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="dashboard-page">
  <ion-item-group>
    <title-separation>
      Mes alertes
    </title-separation>
    <div *ngFor="let alert of alerts">
      <div class="animated bounceInDown">
        <ovh-alert [alertName]="alert.name" [link]="alert.link" [alertType]="alert.type" (deleted)="filterAlert($event)">
          <p [innerText]="alert.description"></p>
        </ovh-alert>
      </div>
    </div>
    <div class="center center-flex" *ngIf="loading.alerts">
      <ion-spinner name="bubbles"></ion-spinner>
    </div>
  </ion-item-group>
  <ion-item-group>
    <title-separation [buttonVisible]="true" (action)="addProjectModal()">
      Mes projets
    </title-separation>
    <div *ngFor="let widget of widgets">
      <project-widget *ngIf="widget.category.url === CategoryEnum.PROJECT.url"
        [reload]="reload"
        [project]="widget"
        (remove)="removeWidget($event)">
      </project-widget>
    </div>
  </ion-item-group>
  <ion-item-group>
    <title-separation [buttonVisible]="true" (action)="addWidgetModal()">
      Mes widgets
    </title-separation>
  </ion-item-group>
  <div *ngFor="let widget of widgets">
    <div [ngSwitch]="widget.category.url" class="animated bounceInUp">
      <domain-widget *ngSwitchCase="CategoryEnum.DOMAIN.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </domain-widget>

      <web-widget *ngSwitchCase="CategoryEnum.WEB.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </web-widget>

      <private-database-widget *ngSwitchCase="CategoryEnum.PRIVATE_DATABASE.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </private-database-widget>

      <dedicated-widget *ngSwitchCase="CategoryEnum.DEDICATED_SERVER.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </dedicated-widget>

      <cloud-widget *ngSwitchCase="CategoryEnum.CLOUD.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </cloud-widget>

      <vps-widget *ngSwitchCase="CategoryEnum.VPS.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </vps-widget>
    </div>
  </div>
  <ion-card *ngIf="widgets && !widgets.length" class="transparent">
    <ion-card-content>
      <p class="center-flex">Vous n’avez pas encore ajouté de widget.</p>
      <p class="center-flex">Veuillez cliquer sur le + ci-dessus pour en ajouter.</p>
    </ion-card-content>
  </ion-card>
</ion-content>
