<ion-header>
  <ion-navbar class="dashboard-page">
    <ion-title>
      Dashboard
    </ion-title>
    <ion-buttons end>
      <button (click)="addWidgetModal()">
        <!-- <ion-icon name="add"></ion-icon> -->
        <i class="fa fa-plus-square icon-size" aria-hidden="true"></i>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="dashboard-page">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="refresh"
      pullingText="Tirer pour rafraichir"
      refreshingSpinner="bubbles"
      refreshingText="Chargement...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngIf="widgets && !widgets.length" class="transparent">
    <ion-card-content>
      Vous n'avez pas encore ajouté de widget. Veuillez cliquer sur le + ci-dessus pour en ajouter.
    </ion-card-content>
  </ion-card>
  <div *ngFor="let widget of widgets">
    <div [ngSwitch]="widget.category.url" class="animated bounceInUp">
      <domain-widget *ngSwitchCase="CategoryEnum.DOMAIN.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </domain-widget>

      <web-widget *ngSwitchCase="CategoryEnum.WEB.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </web-widget>

      <private-database-widget *ngSwitchCase="CategoryEnum.PRIVATE_DATABASE.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </private-database-widget>

      <dedicated-widget *ngSwitchCase="CategoryEnum.DEDICATED_SERVER.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </dedicated-widget>

      <cloud-widget *ngSwitchCase="CategoryEnum.CLOUD.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </cloud-widget>

      <vps-widget *ngSwitchCase="CategoryEnum.VPS.url"
        [reload]="reload"
        [serviceName]="widget.serviceName"
        (remove)="removeWidget($event)">
      </vps-widget>

      <project-widget *ngSwitchCase="CategoryEnum.PROJECT.url"
        [reload]="reload"
        [project]="widget"
        (remove)="removeWidget($event)">
      </project-widget>
    </div>
  </div>
</ion-content>
