<ion-header class="product-header">
  <ion-navbar [hideBackButton]="false">
    <ion-title>
      {{serviceName}}
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content class="product-content">
  <div *ngIf="!loading">
    <ion-list no-lines>
      <ion-item-group>
        <ion-item>
          <ion-label>
            Offre
          </ion-label>
          <ion-note item-right>
            <span class="capitalize" [innerText]="domain.offer"></span>
          </ion-note>
        </ion-item>

        <ion-item>
          <ion-label [ngClass]="{'danger-color animated pulse': domain.warning}">
            <i class="fa fa-warning" *ngIf="domain.warning"></i>
            Expiration
          </ion-label>
          <ion-note item-right
            [ngClass]="{'danger-color animated pulse': domain.warning}"
            [innerText]="domain.expirationText">
          </ion-note>
        </ion-item>
      </ion-item-group>
      <ion-item-group>
        <title-separation>
          Sécurité
        </title-separation>
        <ion-item>
          <ion-label>
            Support service OwO
          </ion-label>
          <ion-note item-right>
            <i [hidden]="!domain.owoSupported" class="fa fa-check fa-2x" secondary></i>
            <i [hidden]="domain.owoSupported" class="fa fa-times fa-2x" danger></i>
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label>
            Protection contre le transfert
          </ion-label>
          <ion-toggle item-right secondary *ngIf="domain.transferLockStatus === 'locked' || domain.transferLockStatus === 'unlocked'"
            [checked]="domain.transferLockStatus === 'locked'"
            (click)="changeTransferLockStatus()">
          </ion-toggle>
          <ion-note item-right *ngIf="domain.transferLockStatus !== 'locked' && domain.transferLockStatus !== 'unlocked'">
            <ion-spinner name="bubbles">
            </ion-spinner>
          </ion-note>
        </ion-item>
        <ion-item>
          <ion-label>
            Délégation sécurisée (DNSSEC)
          </ion-label>
          <ion-note item-right>
            <i [hidden]="!domain.dnssecSupported" class="fa fa-check fa-2x" secondary></i>
            <i [hidden]="domain.dnssecSupported" class="fa fa-times fa-2x" danger></i>
          </ion-note>
        </ion-item>
      </ion-item-group>

      <ion-item-group>
        <title-separation>
          Hébergement
        </title-separation>
        <ion-item>
          <ion-label>
            Hébergement lié
          </ion-label>
          <ion-note item-right>
            <span [innerText]="domain.hostingLinked"></span>
          </ion-note>
        </ion-item>
      </ion-item-group>
    </ion-list>

    <ion-row>
      <ion-col width-50>
        <button class="button-ovh" full (click)="openTasks(serviceName, domainService)">
          Tâches
        </button>
      </ion-col>
      <ion-col width-50>
        <button class="button-ovh" full (click)="openNetworkStateModal(category)">
          Travaux
        </button>
      </ion-col>
    </ion-row>
  </div>
  <div *ngIf="loading" text-center>
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
</ion-content>
