.widget-add-modal {
  ion-list {
    margin-bottom: 0;
  }

  ion-select {
    max-width: none;
    border: 2px solid $ovh-border-color;
    border-radius: 3px;
    width: 100%;
  }

  ion-content {
    color: $primary-font-color;
  }

  .item-input ion-label {
    color: $primary-font-color;
  }

  .item {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nostyle {
    ion-list {
      & > .item:first-child {
        border-top: 0;
        border-bottom: 0;
      }
    }
  }

  .width90 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 90%;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;

    .item-inner {
      border-top: 0;
      padding-right: 0;
    }
  }
}
