<ion-header>
  <ion-navbar>
    <ion-title>
      Ajouter un widget
    </ion-title>
    <ion-buttons end>
      <button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content class="widget-add-modal">
  <ion-row padding center>
    <ion-col class="center" width-90>
      <strong class="fs16">Type de widget</strong>
    </ion-col>
  </ion-row>
  <ion-list no-lines center>
    <ion-item class="center width90">
      <ion-select class="center" cancelText="Annuler" [(ngModel)]="category" (ionChange)="selectCategory(category)">
        <ion-option *ngFor="let categoryKey of categoryKeys" [value]="CategoryEnum[categoryKey]" [innerText]="CategoryEnum[categoryKey].text"></ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list class="tspace20" *ngIf="category === CategoryEnum.PROJECT && project.length">
    <ion-item padding text-center>
      <strong class="fs16">Composition du projet</strong>
    </ion-item>
    <div *ngFor="let serviceType of categories">
      <ion-item *ngIf="projectByCategories[serviceType].length">
        <h2>
          <strong [ngSwitch]="serviceType">
            <i class="fa fa-server" *ngSwitchCase="CategoryEnum.DEDICATED_SERVER.name" item-left></i>
            <i class="fa fa-globe" *ngSwitchCase="CategoryEnum.WEB.name" item-left></i>
            <i class="fa fa-link" *ngSwitchCase="CategoryEnum.DOMAIN.name" item-left></i>
          </strong>
          <strong [innerText]="CategoryEnum[serviceType].text"></strong>
        </h2>
        <h3 *ngFor="let service of projectByCategories[serviceType]" [innerText]="service.serviceName" primary></h3>
      </ion-item>
    </div>
  </ion-list>
  <ion-row padding center *ngIf="category === CategoryEnum.PROJECT && !terminate">
    <ion-col class="center" width-90>
      <strong class="fs16">Type de service à ajouter</strong>
    </ion-col>
  </ion-row>
  <ion-list no-lines center *ngIf="category === CategoryEnum.PROJECT && !terminate">
    <ion-item class="center width90">
      <ion-select cancelText="Annuler" [(ngModel)]="subCategory" (ionChange)="selectProduct(subCategory)">
        <ion-option *ngFor="let subCategorySelect of subCategoryKeys"
          [value]="CategoryEnum[subCategorySelect]"
          [innerText]="CategoryEnum[subCategorySelect].text">
        </ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list *ngIf="category === CategoryEnum.PROJECT && project.length >= 2 && terminate">
    <ion-item>
      <ion-label class="animated bounceIn">Nom du projet</ion-label>
      <ion-input [(ngModel)]="projectName" placeholder="Mon projet"></ion-input>
    </ion-item>
  </ion-list>
  <ion-row *ngIf="category === CategoryEnum.PROJECT && project.length >= 5 && terminate" center>
    <ion-col width-100 text-center>
      <em>
        Attention, plus le projet comportera de services, plus le temps de chargement sera long.
      </em>
    </ion-col>
  </ion-row>
  <div class="tspace20" *ngIf="!terminate && !loading">
    <ion-row *ngFor="let product of products" center>
      <ion-col width-90 class="center">
        <button light outline block
          [innerText]="product"
          (click)="category === CategoryEnum.PROJECT ? addSubProduct(product, subCategory) : addWidget(product)">
        </button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!products.length && !loading" center>
      <ion-col width-90 text-center>
        Vous n’avez pas de produits
      </ion-col>
    </ion-row>
  </div>
  <ion-row padding center *ngIf="loading && !terminate">
    <ion-col class="center center-flex" width-90>
      <ion-spinner name="bubbles"></ion-spinner>
    </ion-col>
  </ion-row>

</ion-content>
<ion-footer>
  <ion-buttons>
    <button *ngIf="category === CategoryEnum.PROJECT && project.length >= 2 && !terminate"
      (click)="terminate = true"
      block secondary>
      Terminer mon projet
    </button>
    <button
      *ngIf="category === CategoryEnum.PROJECT && project.length >= 2 && projectName"
      (click)="addProject(projectName)"
      block secondary>
      Ajouter mon projet
    </button>
  </ion-buttons>
</ion-footer>
