.widget-add-modal {
  ion-list {
    margin-bottom: 0px;
  }
  ion-select {
    max-width: none;
    border: 2px solid $ovh-border-color;
    border-radius: 3px;
    width: 100%;
  }
  ion-content {
    color: $primary-font-color;
  }
  .item-input ion-label {
    color: $primary-font-color;
  }

  .nostyle {
    ion-list {
      & > .item:first-child {
        border-top: none;
      }
      & > .item:first-child {
        border-bottom: none;
      }
    }
  }


  .width90 {
    .item-inner {
      border-top: 0px;
    }
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 90%;
    -ms-flex: 0 0 90%;
    flex: 0 0 90%;
    max-width: 90%;
  }
}
