<ion-card class="cloud-widget" *ngIf="serviceName">
  <cloud-widget-content
    [reload]="reload"
    [serviceName]="serviceName"
    [(collapsed)]="collapsed">
  </cloud-widget-content>
  <ion-row no-padding class="widget-content">
    <ion-col text-center width-33>
      <button full class="button-ovh" (click)="openNetworkStateModal()">
        Travaux
      </button>
    </ion-col>
    <ion-col text-center width-33>
      <button full class="button-ovh" (click)="moreInfos()">
        Plus d'infos
      </button>
    </ion-col>
    <ion-col text-center width-33>
      <button class="button-ovh danger-color" full (click)="removeMe()">
        Supprimer
      </button>
    </ion-col>
  </ion-row>
</ion-card>
