<ion-row>
  <ion-col width-33 text-center>
    <button
      (click)="inSuccess.length && display('SUCCESS')"
      round
      secondary>
      <span [innerText]="inSuccess.length"></span>
      <ion-icon
        *ngIf="inSuccess.length"
        [name]="displayInSuccess ? 'arrow-up' : 'arrow-down'"
        [md]="displayInSuccess ? 'ios-arrow-up' : 'ios-arrow-down'">
      </ion-icon>
    </button>
  </ion-col>
  <ion-col width-33 text-center>
    <button
      (click)="inOther.length && display('OTHER')"
      round>
      <span [innerText]="inOther.length">
      </span>
      <ion-icon
        *ngIf="inOther.length"
        [name]="displayInOther ? 'arrow-up' : 'arrow-down'"
        [md]="displayInSuccess ? 'ios-arrow-up' : 'ios-arrow-down'">
      </ion-icon>
    </button>
  </ion-col>
  <ion-col width-33 text-center>
    <button
      (click)="inError.length && display('ERROR')"
      round
      danger>
      <span [innerText]="inError.length">
      </span>
      <ion-icon
        *ngIf="inError.length"
        [name]="displayInError ? 'arrow-up' : 'arrow-down'"
        [md]="displayInSuccess ? 'ios-arrow-up' : 'ios-arrow-down'">
      </ion-icon>
    </button>
  </ion-col>
</ion-row>
<ion-list *ngIf="displayInSuccess">
  <ion-item
    *ngFor="let successInstance of inSuccess">
    <span [innerText]="successInstance.name"></span>
    <button clear item-right *ngIf="type === 'snapshot'" danger (click)="action(successInstance.id)">
      <ion-icon name="trash"></ion-icon>
    </button>
    <button clear item-right *ngIf="type === 'instance'" (click)="action2(successInstance.id)">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <button clear item-right *ngIf="type === 'instance'" (click)="action(successInstance.id)">
      <ion-icon name="sync"></ion-icon>
    </button>
    <ion-badge
      class="capitalize"
      [innerText]="successInstance.status"
      item-right
      secondary>
    </ion-badge>
  </ion-item>
</ion-list>
<ion-list *ngIf="displayInOther">
  <ion-item
    *ngFor="let otherInstance of inOther">
    <span [innerText]="otherInstance.name"></span>
    <button clear item-right *ngIf="type === 'snapshot'" danger (click)="action(otherInstance.id)">
      <ion-icon name="trash"></ion-icon>
    </button>
    <button clear item-right *ngIf="type === 'instance'" (click)="action2(otherInstance.id)">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <button clear item-right *ngIf="type === 'instance'" (click)="action(otherInstance.id)">
      <ion-icon name="sync"></ion-icon>
    </button>
    <ion-badge
      class="capitalize"
      [innerText]="otherInstance.status"
      item-right>
    </ion-badge>
  </ion-item>
</ion-list>
<ion-list *ngIf="displayInError">
  <ion-item *ngFor="let errorInstance of inError">
    <span [innerText]="errorInstance.name"></span>
    <button clear item-right *ngIf="type === 'snapshot'" danger (click)="action(errorInstance.id)">
      <ion-icon name="trash"></ion-icon>
    </button>
    <button clear item-right *ngIf="type === 'instance'" (click)="action2(errorInstance.id)">
      <ion-icon name="cloud-upload"></ion-icon>
    </button>
    <button clear item-right *ngIf="type === 'instance'" (click)="action(errorInstance.id)">
      <ion-icon name="sync"></ion-icon>
    </button>
    <ion-badge
      class="capitalize"
      [innerText]="errorInstance.status"
      item-right
      danger>
    </ion-badge>
  </ion-item>
</ion-list>
