<widget-header
  [serviceName]="loading ? serviceName : cloud.description || cloud.serviceName"
  [category]="constants"
  [state]="cloud.status === 'ok' ? 'enabled' : 'disabled'"
  [loading]="loading || error"
  [showWorks]="showWorks"
  (updateCollapse)="updateCollapse()">
</widget-header>
<div padding *ngIf="collapsed" class="widget-content">
  <ion-segment [(ngModel)]="viewMode">
    <ion-segment-button value="general" class="animated fadeIn">
      Général
    </ion-segment-button>
    <ion-segment-button value="ips" (click)="getIps()">
      Ips
    </ion-segment-button>
  </ion-segment>
</div>
<ion-card-content class="widget-content" *ngIf="!loading && cloud && !error">
  <div *ngIf="viewMode === 'general' || !collapsed">
    <ion-row>
      <ion-col width-50 [ngClass]="{'danger-color animated pulse': cloud.warning}">
        <i class="fa fa-warning" *ngIf="cloud.warning"></i>
        Expiration
      </ion-col>
      <ion-col width-50 text-right
        [ngClass]="{'danger-color animated pulse': cloud.warning}"
        [innerText]="cloud.expirationText">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-40>
        Etat du projet
      </ion-col>
      <ion-col width-60 text-right>
        <state-label
          [status]="cloud.status"
          [text]="cloud.status"
          success="['ok']"
          error="['deleted', 'suspended']">
        </state-label>
      </ion-col>
    </ion-row>
  </div>

  <div [ngSwitch]="viewMode" *ngIf="collapsed" class="animated fadeIn">
    <div *ngSwitchCase="'general'">
      <ion-row *ngIf="cloud.snapshots.inSuccess.length > 0">
        <ion-col width-40>
          Dernier snapshot le
        </ion-col>
        <ion-col
          width-60
          text-right
          [innerText]="cloud.snapshots.inSuccess[cloud.snapshots.inSuccess.length - 1].creationDateText">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-100 text-center>
          <strong>Etat des {{cloud.instances.length}} instances</strong>
        </ion-col>
      </ion-row>
      <status-details
        [inError]="cloud.inError"
        [inSuccess]="cloud.inSuccess"
        [inOther]="cloud.inOther"
        type="instance"
        (actionRequest)="rebootInstance($event)"
        (actionRequest2)="createSnapshot($event)">
      </status-details>

      <ion-row>
        <ion-col width-100 text-center>
          <strong>Etat des {{cloud.snapshots.list.length}} snapshots</strong>
        </ion-col>
      </ion-row>
      <status-details
        [inError]="cloud.snapshots.inError"
        [inSuccess]="cloud.snapshots.inSuccess"
        [inOther]="cloud.snapshots.inOther"
        type="snapshot"
        (actionRequest)="deleteSnapshot($event)">
      </status-details>
      <ion-row *ngIf="displayInSuccess || displayInError || displayInOther">
        <ion-list *ngIf="displayInSuccess">
          <ion-item
            *ngFor="let successInstance of cloud.inSuccess"
            [innerText]="successInstance.name">
          </ion-item>
        </ion-list>
      </ion-row>

    </div>

    <div *ngSwitchCase="'ips'">
      <ion-list>
        <ion-item *ngFor="let ip of ips">
          <span [innerText]="ip.ip"></span>
          <ion-badge
            class="capitalize"
            [innerText]="ip.type"
            item-right>
          </ion-badge>
        </ion-item>
        <ion-item *ngIf="!ips.length && !loading" text-center>
          <em>Vous n'avez pas d'ip</em>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-card-content>
<ion-card-content class="widget-content" *ngIf="loading" text-center>
  <ion-spinner name="bubbles"></ion-spinner>
</ion-card-content>
