.web-widget {
  .progressbar {
    border-color: black;

    ion-col {
      background-color: map-get($colors, primary);
      width: 65%;
      border-radius: 50px;
    }
  }

  .text-primary {
    color: map-get($colors, primary);
  }
}
