<ion-item *ngIf="!loading && !error">
  <ion-avatar item-left>
    <div [ngSwitch]="task.status || task.state">
      <i *ngSwitchCase="'done'" class="fa fa-check fa-2x" secondary></i>
      <i *ngSwitchCase="'doing'" class="fa fa-clock-o fa-2x" primary></i>
      <i *ngSwitchCase="'init'" class="fa fa-clock-o fa-2x" primary></i>
      <i *ngSwitchCase="'todo'" class="fa fa-clock-o fa-2x" primary></i>
      <i *ngSwitchCase="'error'" class="fa fa-exclamation fa-2x" danger></i>
      <i *ngSwitchDefault class="fa fa-question fa-2x" primary></i>
    </div>
  </ion-avatar>
  <h2 [innerText]="task.function || task.type"></h2>
  <h3 [innerText]="'Statut : ' + (task.status || task.state)"></h3>
  <p *ngIf="task.progress" [innerText]="'Progression :' + task.progress + '%'"></p>
  <p *ngIf="task.startDate" [innerText]="'Créée le ' + task.startDateText"></p>
  <p *ngIf="task.doneDate" [innerText]="'Terminée le ' + task.doneDateText"></p>
</ion-item>
<ion-item text-center *ngIf="loading">
  <div class="center center-flex">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
</ion-item>
