.login-page {
  .logo {
    height: 200px;
    margin-top: 50px;
    margin-bottom: 20px;
  }

  .signature {
    color: $shark3;
    text-align: center;
  }

  .double-auth-explanation {
    text-align: center;
    color: $mercury;
  }
}
