<widget-header
  [serviceName]="loading ? serviceName : server.displayName || server.serviceName"
  [category]="constants"
  [state]="server.state === 'active' ? 'enabled' : 'disabled'"
  [loading]="loading || error"
  [showWorks]="showWorks"
  (updateCollapse)="updateCollapse()">
</widget-header>
<div padding *ngIf="collapsed" class="widget-content">
  <ion-segment [(ngModel)]="viewMode">
    <ion-segment-button value="general" class="animated fadeIn">
      Général
    </ion-segment-button>
    <ion-segment-button value="tasks" (click)="getTasks()">
      Tâches
    </ion-segment-button>
  </ion-segment>
</div>
<ion-card-content class="widget-content" *ngIf="!loading && server && !error">
  <div *ngIf="viewMode === 'general' || !collapsed">
    <ion-row>
      <ion-col width-50 [ngClass]="{'danger-color animated pulse': server.warning}">
        <i class="fa fa-warning" *ngIf="server.warning"></i>
        Expiration
      </ion-col>
      <ion-col width-50 text-right
        [ngClass]="{'danger-color animated pulse': server.warning}"
        [innerText]="server.expirationText">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col width-40>
        Etat du service
      </ion-col>
      <ion-col width-60 text-right>
        <div [ngSwitch]="server.state">
          <ion-badge *ngSwitchCase="'active'"
            class="capitalize"
            [innerText]="server.state"
            secondary>
          </ion-badge>
          <ion-badge *ngSwitchCase="'bloqued'"
            class="capitalize"
            [innerText]="server.state"
            danger>
          </ion-badge>
          <ion-badge *ngSwitchDefault
            [innerText]="server.state">
          </ion-badge>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div [ngSwitch]="viewMode" *ngIf="collapsed" class="animated fadeIn">
    <div *ngSwitchCase="'general'">
      <ion-row>
        <ion-col width-40>
          Offre
        </ion-col>
        <ion-col width-60>
          <strong class="capitalize" [innerText]="server.offer"></strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-40>
          Datacentre
        </ion-col>
        <ion-col width-60>
          <strong [innerText]="server.datacenter"></strong>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-40 class="center">
         SSL (Let's encrypt)
        </ion-col>
        <ion-col width-60>
         <ion-toggle secondary
          *ngIf="server.ssl != null && !sslIsPending(server.ssl.status)"
           [checked]="server.ssl != null && server.ssl.status === 'created'"
           (click)="!sslIsPending(server.ssl.status) && changeSslStatus()">
         </ion-toggle>
         <ion-spinner name="bubbles" *ngIf="server.ssl != null && sslIsPending(server.ssl.status)">
         </ion-spinner>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-40>
          IPv4
        </ion-col>
        <ion-col width-60 [innerText]="server.hostingIp">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-40>
          IPv6
        </ion-col>
        <ion-col width-60 [innerText]="server.hostingIpv6">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-40>
          Accès cluster
        </ion-col>
        <ion-col width-60>
          <a [href]="'ftp://ftp.' + server.cluster + '.hosting.ovh.net'"
            [innerText]="'ftp.' + server.cluster + '.hosting.ovh.net'"
            target="_blank">
          </a>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center width-100>
          Espace disque
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col width-100>
          <div class="progress">
            <div class="progress-bar" role="progressbar" [style.width]="100 - server.quotaPercentage + '%'">
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center>

        </ion-col>
      </ion-row>
    </div>

    <div *ngSwitchCase="'tasks'">
      <ion-list>
        <task-details-web *ngFor="let task of tasks" [id]="task" [serviceName]="serviceName">
        </task-details-web>
        <ion-item *ngIf="emptyTasks && !loading" text-center>
          <em>Vous n’avez pas de tâches</em>
        </ion-item>
      </ion-list>
    </div>
  </div>
</ion-card-content>
<ion-card-content class="widget-content" *ngIf="loading" text-center>
  <ion-spinner name="bubbles"></ion-spinner>
</ion-card-content>
